{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/grid.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <a href="{{ path('app_home') }}">Home</a>
    <h3>
        Commit statistics for the {{ repo_query.url }} repository
        between {{ repo_query.startdate.format('Y-m-d') }}
        and {{ repo_query.enddate.format('Y-m-d') }}
    </h3>

    {{ grid(grid) }}

{% endblock %}
